{% extends 'base.html' %}

{% block title %}about{% endblock title %}

{% block body %}
 <style>
.h1 {
    line-height: normal!important;
    text-transform: uppercase;
    color:gray ;
    font-family: 'Just Another Hand',cursive;
    font-size: 53px;
    font-weight: 100;
    letter-spacing: 1px;
    }
 </style>
<h2 class="text-center">Welcome to</h2> 
<h1 class="text-center">The Ice-cream shop</h1>

<h5 class="text center">We’re here to add a little extra sweetness to your day. The Ice Cream Shop is a virtual restaurant and new way to order your favorite ice cream brands right to your front door. Available on all your favorite delivery apps including Postmates, DoorDash, Uber Eats, and GrubHub, The Ice Cream Shop features fan-favorite products from beloved ice cream brands Ben & Jerry’s, Talenti, Magnum, Breyers and Good Humor.</h5>


{% endblock body %}
